@use "../index" as *;

.custom-select {
  position: relative;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: $color-black;

  &__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    min-height: 48px;
    transition: border 0.2s;

    &.open {
      background-color: $color-grey;
    }

    &:hover, &.open {
      border-color: $color-accent;
    }

    span {
      pointer-events: none;
    }
  }

  &__icon {
    transition: transform 0.3s;
    &.open {
      transform: rotate(180deg);
      fill: $color-white;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 14px rgba(36, 150, 200, 0.12);
    display: none;
    z-index: 10;

    &.open {
      display: block;
    }

    scrollbar-width: thin;
    scrollbar-color: #3E9CDC #3D4050; /* thumb track */

    /* WebKit (Chrome, Edge, Safari): точная ширина и полная кастомизация */
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #3D4050;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #3E9CDC;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box;
    }
  }

  &__option {
    padding: 12px;
    transition: background 0.2s;
    font-size: 18px;

    &:hover {
      color: $color-accent;
    }
  }
}