.main {
  flex: 1 0 auto;

  &__bg {
    background-image: url("../../public/images/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 150px;
  }
}