$font-base: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
$color-bg: #272733;
$color-card: #171b22;
$color-accent: #3E9CDC;
$color-black: #000000;
$color-white: #FFFFFF;
$color-hover: #42A9ED;
$color-grey: #3D4050D9;
$container: 1172px;
$gap: 30px;
$radius: 4px;
$transition-fast: .3s ease-in-out;

$breakpoint-md: 768px;
$breakpoint-sm: 640px;
$breakpoint-xs: 420px;
