@use "normalize";
@use "index" as *;
@use "blocks/header";
@use "blocks/footer";

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 24px;
    color: #333;
  }
}

